<template>
  <div>
    <div id="chart">
      <apexchart type='bar' height="350" :options="dataOptions" :series="dataSeries"></apexchart>
    </div>
  </div>
</template>

<script>
import json from '../json/torque.json'
import VueApexCharts from 'vue-apexcharts'
//import axios from 'axios'

export default {
  name: 'Chart',
  components: { 
    apexchart: VueApexCharts,
  },
  data() {
    return {
      data: json,
      dataCollection: null,
      dataOptions: null,
      dataSeries: [],
    }
  },
  created() {
    this.data = this.data.slice(0,99)
    let averageTorque = []
    let lastTorque = []
    let position= []

    this.data.map(i => {
      averageTorque.push({
        x: i.Position,
        y: i.AverageTorque
      })
      lastTorque.push({
        x: i.Position,
        y: i.LastTorque
      })
      position.push(i.Position)
    })

    this.dataOptions = {
      chart: {
        height: 350
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '55%',
          endingShape: 'rounded'
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        width: 2,
        colors: ['transparent']
      },
      xaxis: {
        type: 'numeric'
      },
      fill: {
        opacity: 1
      },
    }
    this.dataSeries = [{
      name: 'Average Torque',
      data: averageTorque
    }, {
      name: 'Last Torque',
      data: lastTorque
    }]

    /*axios.get('https://b507qiqddb.execute-api.eu-central-1.amazonaws.com/torque', {
      'Accept': 'application/json'
    }).then((response) => {
      console.log(response)
    })*/
  }
}
</script>
