<template>
  <div id="app">
    <b-container>
      <b-row>
        <b-col>
          <Chart />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Chart from './components/Chart'

export default {
  name: 'App',
  components: {
    Chart
  }
}
</script>

<style src="./App.css" />
